[submodule "solarized-osx-term"]
	path = colorschemes/solarized-osx-term
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "gruvbox-theme"]
	path = gruvbox-theme
	url = git@github.com:morhetz/gruvbox-contrib.git
[submodule "base16-iterm2"]
	path = base16-iterm2
	url = git@github.com:chriskempson/base16-iterm2.git
[submodule "gotham-contrib"]
	path = gotham-contrib
	url = git@github.com:whatyouhide/gotham-contrib.git
[submodule "fish/completions/kubectl"]
	path = fish/completions/kubectl
	url = https://github.com/evanlucas/fish-kubectl-completions
[submodule "colorschemes/nord"]
	path = colorschemes/nord-iterm2
	url = git@github.com:arcticicestudio/nord-iterm2.git
[submodule "colorschemes/radical-vscode"]
	path = colorschemes/radical-vscode
	url = git@github.com:DHedgecock/radical-vscode.git
[submodule "colorschemes/dracula"]
	path = colorschemes/dracula
	url = git@github.com:dracula/dracula-theme.git
[submodule "colorschemes/halcyon-item"]
	path = colorschemes/halcyon-item
	url = git@github.com:bchiang7/halcyon-iterm.git
[submodule "colorschemes/halcyon-vscode"]
	path = colorschemes/halcyon-vscode
	url = git@github.com:bchiang7/halcyon-vscode.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/hlissner/doom-emacs
