[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule "vim/vim-haml"]
	path = vim/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "solarized-osx-term"]
	path = solarized-osx-term
	url = git@github.com:tomislav/osx-terminal.app-colors-solarized.git
