config/fish/fishd.*
config/fish/completions
config/fish/fish_variables
config/fish/functions
config/fish/fishfile
config/fish/config.fish

config/gcloud/
config/gh/
config/gh-search-cli/
config/rstudio/

config/airship
config/Autodesk
config/configstore

.netrwhist
tmux/resurrect/*
fonts
vim/bundle/
vim/tmp
config/gcloud/logs
emacs.d/eshell
