eval "$(starship init bash)"

# Added by LM Studio CLI (lms)
export PATH="$PATH:/Users/{{ .chezmoi.username }}/.cache/lm-studio/bin"

if command -v wt >/dev/null 2>&1; then eval "$(command wt config shell init bash)"; fi
