if status is-interactive
    # Commands to run in interactive sessions can go here
end

set fish_greeting

set EZA_CONFIG_DIR ~/.config/eza

fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin
fish_add_path ~/.local/bin
fish_add_path ~/.krew/bin

{{- if .is_work }}

set -gx SRC_ENDPOINT https://rvu.sourcegraph.com
set -gx SRC_ACCESS_TOKEN {{ keeperFindPassword "1fJ6SHh496On8Z4ybqVPiQ" }}

set -gx JIRA_USER richard.dowden@rvu.co.uk
set -gx JIRA_TOKEN {{ keeperFindPassword "5QOWx7Hdzc17QKtn7yGJJA" }}

fish_add_path /opt/uswitch/bin

{{- end }}

set -gx EDITOR nvim

# Claude Code via cmux agent teams
if set -q CMUX_WORKSPACE_ID
    alias c 'cmux claude-teams --dangerously-skip-permissions'
    alias claude-teams 'cmux claude-teams'
    alias cy 'claude --dangerously-skip-permissions'
end

set fish_cursor_default block
starship init fish | source

# Added by LM Studio CLI (lms)
set -gx PATH $PATH /Users/{{ .chezmoi.username }}/.cache/lm-studio/bin

zoxide init fish | source
