k9s:
  refreshRate: 2
  maxConnRetry: 5
  enableMouse: false
  headless: false
  logoless: true
  crumbsless: false
  readOnly: false
  noExitOnCtrlC: false
  noIcons: false
  skipLatestRevCheck: false
  logger:
    tail: 100
    buffer: 5000
    sinceSeconds: 300
    fullScreenLogs: false
    textWrap: false
    showTime: false
{{- if .is_work }}
  currentContext: {{ .k8s_cluster_2 }}
  currentCluster: {{ .k8s_cluster_2 }}
  clusters:
    {{ .k8s_cluster_2 }}:
      namespace:
        active: {{ .k8s_namespace }}
        lockFavorites: false
        favorites:
        - {{ .k8s_namespace }}
        - default
      view:
        active: po
      featureGates:
        nodeShell: false
      shellPod:
        image: busybox:1.35.0
        command: []
        args: []
        namespace: default
        limits:
          cpu: 100m
          memory: 100Mi
        labels: {}
      portForwardAddress: localhost
{{- end }}
  thresholds:
    cpu:
      critical: 90
      warn: 70
    memory:
      critical: 90
      warn: 70
  screenDumpDir: {{ .chezmoi.homeDir }}/.k9s-screens
